body {
  background: #232323;
}

h1 {
  padding: 10px;
  font-size: 1rem;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background: steelblue;
}

h1 span {
  display: block;
  font-size: 200%;
  padding: 5px;
}

.deets {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: white;
  font-family: 'Helvetica';
}

.easy, .hard, .reset, .message {
  margin: 10px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.message {
  width: 20%;
  font-weight: 700;
}

button {
  border: none;
  box-shadow: none;
  color: steelblue;
  background: white;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.3s;
}

button:hover {
  color: white;
  background-color: steelblue;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 20px auto;
}

.row1, .row2 {
  display: flex;
  width: 100%;
}


.square {
  width: 30%;
  margin: 1.66%;
  padding-bottom: 30%;
  border-radius: 20px;
  transition: background 0.5s;
}

.selected {
  color: white;
  background-color: steelblue;
}






@media all and (min-width: 600px) {
  h1 {
    font-size: 2rem;
  }
}