body {
  background: #232323;
}

h1 {
  text-align: center;
  color: white;
}


.deets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  height: 30px;
  font-family: 'Helvetica';
}

.reset {
  border: none;
  box-shadow: none;
  color: red;
  background-color: #191919;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
}

.row1, .row2 {
  display: flex;
  width: 100%;
}


.square {
  width: 30%;
  margin: 1.66%;
  padding-bottom: 30%;
  background: purple;
}

@media all and (min-width: 520px) {
  .deets {
    flex-direction: row;
  }
}